<!DOCTYPE html>
<html>

<head>
    <title>PRT TEAM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <h1>PRT TEAM</h1>
    <h3>Los miembros son:
    <ul id="nombres">
        {% for nombre in nombres %}
            {%if nombre == nombres[0] %}
                <li> <a href="{{url_for('perfil_hvera')}}"> {{nombre}} </a> </li>
            {%elif nombre == nombres[1] %}
                <li> <a href="{{url_for('perfil_maxi')}}"> {{nombre}} </a> </li>
            {%elif nombre == nombres[2] %}
                <li> <a href="{{url_for('perfil_edgarplank')}}"> {{nombre}} </a> </li>
            {%elif nombre == nombres[3] %}
                <li> <a href="{{url_for('perfil_djperrete')}}"> {{nombre}} </a> </li>
            {%elif nombre == nombres[4] %}
                <li> <a href="{{url_for('perfil_kiritsuna')}}"> {{nombre}} </a> </li>
            {% else %}
                <li> <a href="{{url_for('perfil_spynck')}}"> {{nombre}} </a></li>
            {% endif %}    
        {% endfor %}
    </ul>
    </h3>

    <p>Quiere ser miembro? <a href="{{url_for('form_registro')}}">Registrate</a></p>

    <div>
        <label for="texto1">Texto1:</label>
        <input type="text" name="primer_str" id="texto1">
        <br>
        <label for="texto2">Texto2:</label>
        <input type="text" name="segundo_str" id="texto2">
        <br>
        <button id="boton_concatenar">concatenar textos</button>
    </div>

    <script src="{{url_for('static', filename='js/script.js', _external=True)}}"></script>

</body>

</html>
